<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<import resource="datasource.xml"/>
<import resource="exporter.xml"/>
<import resource="importer.xml"/>
<import resource="mapping.xml"/>

<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:resources/db.properties"/>
</bean>

<bean id="config" class="java.util.Properties">
    <constructor-arg>
        <props>
            <prop key="exportThreadPoolSize">${migration.export.threadPoolSize}</prop>
            <prop key="importThreadPoolSize">${migration.import.threadPoolSize}</prop>
            <prop key="skipExport">${migration.skipExport:false}</prop>
            <prop key="skipImport">${migration.skipImport:false}</prop>
        </props>
    </constructor-arg>
</bean>
	
</beans>